### Zadanie 2
Wykonaj następujące polecenia za pomocą biblioteki pandas.

| Kolumna        | Opis                                                                                                                                                         |
|----------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------|
| id             | Unikalny identyfikator.                                                                                                                                      |
| year           | Rok lotu. Zbiór zawiera loty z 2013 roku.                                                                                                                    |
| month          | Miesiąc roku kiedy odbył się lot, przedstawiony jako liczba od 1 (Styczeń) do 12 (Grudzień).                                                                 |
| day            | Dzień miesiąca kiedy odbył się lot, przedstawiony jako liczba od 1 do 31.                                                                                    |
| dep_time       | Rzeczywisty czas odlotu, przedstawiony w formacie 24h (hhmm).                                                                                                |
| sched_dep_time | Zaplanowany czas odlotu, przedstawiony w formacie 24h (hhmm).                                                                                                |
| dep_delay      | Opóźnienie odlotu, obliczone jako różnica rzeczywistego, a zaplanowanego czasu odlotu. Dodatnia wartość oznacza opóźnienie, ujemna wcześniejszy odlot.       |
| arr_time       | Rzeczywisty czas przylotu, przedstawiony w formacie 24h (hhmm).                                                                                              |
| sched_arr_time | Zaplanowany czas przylotu, przedstawiony w formacie 24h (hhmm).                                                                                              |
| arr_delay      | Opóźnienie przylotu, obliczone jako różnica rzeczywistego, a zaplanowanego czasu przylotu. Dodatnia wartość oznacza opóźnienie, ujemna wcześniejszy przylot. |
| carrier        | Dwuliterowy kod przewoźnika odpowiedzialnego za lot.                                                                                                         |
| flight         | Numer lotu.                                                                                                                                                  |
| tailnum        | Unikalny identyfikator samolotu którym wykonano lot.                                                                                                         |
| origin         | Trzy literowy kod lotniska odlotu.                                                                                                                           |
| dest           | Trzy literowy kod lotniska przylotu.                                                                                                                         |
| air_time       | Długość lotu w minutach.                                                                                                                                     |
| distance       | Całkitowy dystans (w milach) pomiędzy portem odlotu, a portem przylotu.                                                                                      |
| hour           | Zaplanowana godzina odlotu, w lokalnej strefie czasowej.                                                                                                     |
| minute         | Zaplanowana minuta odlotu, w lokalnej strefie czasowej.                                                                                                      |
| time_hour      | Zaplanowana data lotu, przedstawiona w lokalnej strefie czasowej w formacie "yyyy-mm-dd hh:mm:ss".                                                           |
| name           | Pełna nazwa przewoźnika odpowiedzialnego za lot.                                                                                                             |

Import bibliotek NumPy oraz pandas

Import pliku flights.csv oraz wyświetl kilka pierwszych wierszy

In [3]:
######################################################################################

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,...,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
0,0,2013,1,1,517.0,515,2.0,830.0,819,11.0,...,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,United Air Lines Inc.
1,1,2013,1,1,533.0,529,4.0,850.0,830,20.0,...,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,United Air Lines Inc.
2,2,2013,1,1,542.0,540,2.0,923.0,850,33.0,...,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00,American Airlines Inc.
3,3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,...,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00,JetBlue Airways
4,4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,...,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,Delta Air Lines Inc.

Wyświetl podstawowe informacje o danych

In [5]:
######################################################################################

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              336776 non-null  int64
 1   year            336776 non-null  int64
 2   month           336776 non-null  int64
 3   day             336776 non-null  int64
 4   dep_time        328521 non-null  float64
 5   sched_dep_time  336776 non-null  int64
 6   dep_delay       328521 non-null  float64
 7   arr_time        328063 non-null  float64
 8   sched_arr_time  336776 non-null  int64
 9   arr_delay       327346 non-null  float64
 10  carrier         336776 non-null  object
 11  flight          336776 non-null  int64
 12  tailnum         334264 non-null  object
 13  origin          336776 non-null  object
 14  dest            336776 non-null  object
 15  air_time        327346 non-null  float64
 16  distance        336776 non-null  int64
 17  hour            336776 non-null  int64
 18  minute          336776 non-null  int64
 19  time_hour       336776 non-null  object
 20  name            336776 non-null  object
dtypes: float64(5), int64(10), object(6)
memory usage: 54.0+ MB

Wyświetl podstawowe statystyki kolumn

In [6]:
######################################################################################

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,flight,air_time,distance,hour,minute
count,336776.000000,336776.0,336776.000000,336776.000000,328521.000000,336776.000000,328521.000000,328063.000000,336776.000000,327346.000000,336776.000000,327346.000000,336776.000000,336776.000000,336776.000000
mean,168387.500000,2013.0,6.548510,15.710787,1349.109947,1344.254840,12.639070,1502.054999,1536.380220,6.895377,1971.923620,150.686460,1039.912604,13.180247,26.230100
std,97219.001466,0.0,3.414457,8.768607,488.281791,467.335756,40.210061,533.264132,497.457142,44.633292,1632.471938,93.688305,733.233033,4.661316,19.300846
min,0.000000,2013.0,1.000000,1.000000,1.000000,106.000000,-43.000000,1.000000,1.000000,-86.000000,1.000000,20.000000,17.000000,1.000000,0.000000
25%,84193.750000,2013.0,4.000000,8.000000,907.000000,906.000000,-5.000000,1104.000000,1124.000000,-17.000000,553.000000,82.000000,502.000000,9.000000,8.000000
50%,168387.500000,2013.0,7.000000,16.000000,1401.000000,1359.000000,-2.000000,1535.000000,1556.000000,-5.000000,1496.000000,129.000000,872.000000,13.000000,29.000000
75%,252581.250000,2013.0,10.000000,23.000000,1744.000000,1729.000000,11.000000,1940.000000,1945.000000,14.000000,3465.000000,192.000000,1389.000000,17.000000,44.000000
max,336775.000000,2013.0,12.000000,31.000000,2400.000000,2359.000000,1301.000000,2400.000000,2359.000000,1272.000000,8500.000000,695.000000,4983.000000,23.000000,59.000000

Wyświetl ilość brakujących wartości w kolumnach

In [7]:
######################################################################################

id                   0
year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
name                 0
dtype: int64

Odfiltruj wiersze które nie mają wartości

Sprawdź ponownie czy są jakieś brakujące wartości w kolumnach

In [9]:
######################################################################################

id                0
year              0
month             0
day               0
dep_time          0
sched_dep_time    0
dep_delay         0
arr_time          0
sched_arr_time    0
arr_delay         0
carrier           0
flight            0
tailnum           0
origin            0
dest              0
air_time          0
distance          0
hour              0
minute            0
time_hour         0
name              0
dtype: int64

Dodaj nową kolumnę (distance_km) zawierającą dystans w kilometrach na podstawie kolumny **distance** (dystans w milach * 1.609) oraz wyświetl kilka pierwszych wierszy

In [10]:
######################################################################################

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,...,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name,dinstance_km
0,0,2013,1,1,517.0,515,2.0,830.0,819,11.0,...,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,United Air Lines Inc.,2252.600
1,1,2013,1,1,533.0,529,4.0,850.0,830,20.0,...,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,United Air Lines Inc.,2278.344
2,2,2013,1,1,542.0,540,2.0,923.0,850,33.0,...,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00,American Airlines Inc.,1752.201
3,3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,...,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00,JetBlue Airways,2535.784
4,4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,...,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,Delta Air Lines Inc.,1226.058

Ustaw kolumnę **id** jako index dla DateFrame oraz wyświetl kilka pierwszych wierszy

In [11]:
######################################################################################

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name,dinstance_km
id,,,,,,,,,,,,,,,,,,,,,
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,United Air Lines Inc.,2252.600
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,...,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,United Air Lines Inc.,2278.344
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,...,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00,American Airlines Inc.,1752.201
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,...,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00,JetBlue Airways,2535.784
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,...,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,Delta Air Lines Inc.,1226.058

Wyświetl lot z indexem 3333

In [12]:
######################################################################################

year                             2013
month                               1
day                                 4
dep_time                       1658.0
sched_dep_time                   1705
dep_delay                        -7.0
arr_time                       1800.0
sched_arr_time                   1830
arr_delay                       -30.0
carrier                            MQ
flight                           4410
tailnum                        N839MQ
origin                            JFK
dest                              DCA
air_time                         44.0
distance                          213
hour                               17
minute                              5
time_hour         2013-01-04 17:00:00
name                        Envoy Air
dinstance_km                  342.717
Name: 3333, dtype: object

Wyświetl wszystkie loty które odbyły się 28 lutego

In [13]:
######################################################################################

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name,dinstance_km
id,,,,,,,,,,,,,,,,,,,,,
135283,2013,2,28,457.0,500,-3.0,639.0,648,-9.0,US,...,N198UW,EWR,CLT,82.0,529,5,0,2013-02-28 05:00:00,US Airways Inc.,851.161
135284,2013,2,28,458.0,501,-3.0,748.0,800,-12.0,UA,...,N816UA,EWR,IAH,211.0,1400,5,1,2013-02-28 05:00:00,United Air Lines Inc.,2252.600
135285,2013,2,28,522.0,530,-8.0,832.0,831,1.0,UA,...,N24224,LGA,IAH,217.0,1416,5,30,2013-02-28 05:00:00,United Air Lines Inc.,2278.344
135286,2013,2,28,539.0,540,-1.0,836.0,850,-14.0,AA,...,N638AA,JFK,MIA,157.0,1089,5,40,2013-02-28 05:00:00,American Airlines Inc.,1752.201
135287,2013,2,28,540.0,545,-5.0,1015.0,1023,-8.0,B6,...,N586JB,JFK,BQN,195.0,1576,5,45,2013-02-28 05:00:00,JetBlue Airways,2535.784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136232,2013,2,28,2257.0,2255,2.0,2400.0,2357,3.0,B6,...,N807JB,JFK,BOS,35.0,187,22,55,2013-02-28 22:00:00,JetBlue Airways,300.883
136233,2013,2,28,2323.0,2251,32.0,18.0,2357,21.0,B6,...,N279JB,JFK,SYR,40.0,209,22,51,2013-02-28 22:00:00,JetBlue Airways,336.281
136234,2013,2,28,2342.0,2352,-10.0,413.0,437,-24.0,B6,...,N656JB,JFK,PSE,193.0,1617,23,52,2013-02-28 23:00:00,JetBlue Airways,2601.753
136235,2013,2,28,2356.0,2358,-2.0,423.0,438,-15.0,B6,...,N646JB,JFK,SJU,192.0,1598,23,58,2013-02-28 23:00:00,JetBlue Airways,2571.182
136236,2013,2,28,2359.0,2359,0.0,443.0,438,5.0,B6,...,N641JB,JFK,BQN,192.0,1576,23,59,2013-02-28 23:00:00,JetBlue Airways,2535.784

Wyświetl ilość lotów która odbyła się w marcu

In [14]:
######################################################################################

585942

Wyświetl wszystkie nazwy lini lotniczych

In [15]:
######################################################################################

array(['United Air Lines Inc.', 'American Airlines Inc.',
       'JetBlue Airways', 'Delta Air Lines Inc.',
       'ExpressJet Airlines Inc.', 'Envoy Air', 'US Airways Inc.',
       'Southwest Airlines Co.', 'Virgin America',
       'AirTran Airways Corporation', 'Alaska Airlines Inc.',
       'Endeavor Air Inc.', 'Frontier Airlines Inc.',
       'Hawaiian Airlines Inc.', 'Mesa Airlines Inc.',
       'SkyWest Airlines Inc.'], dtype=object)

Wyświetl 10 najdłuższych lotów (dinstance_km)

In [18]:
######################################################################################

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name,dinstance_km
id,,,,,,,,,,,,,,,,,,,,,
58763,2013,11,4,1002.0,1000,2.0,1558.0,1555,3.0,HA,...,N393HA,JFK,HNL,636.0,4983,10,0,2013-11-04 10:00:00,Hawaiian Airlines Inc.,8017.647
251679,2013,7,2,952.0,1000,-8.0,1402.0,1430,-28.0,HA,...,N383HA,JFK,HNL,590.0,4983,10,0,2013-07-02 10:00:00,Hawaiian Airlines Inc.,8017.647
194662,2013,5,2,953.0,1000,-7.0,1423.0,1500,-37.0,HA,...,N385HA,JFK,HNL,603.0,4983,10,0,2013-05-02 10:00:00,Hawaiian Airlines Inc.,8017.647
14226,2013,1,17,859.0,900,-1.0,1513.0,1530,-17.0,HA,...,N381HA,JFK,HNL,648.0,4983,9,0,2013-01-17 09:00:00,Hawaiian Airlines Inc.,8017.647
290629,2013,8,12,953.0,1000,-7.0,1444.0,1440,4.0,HA,...,N384HA,JFK,HNL,630.0,4983,10,0,2013-08-12 10:00:00,Hawaiian Airlines Inc.,8017.647
97219,2013,12,16,929.0,930,-1.0,1514.0,1535,-21.0,HA,...,N388HA,JFK,HNL,630.0,4983,9,30,2013-12-16 09:00:00,Hawaiian Airlines Inc.,8017.647
109803,2013,12,30,923.0,930,-7.0,1536.0,1535,1.0,HA,...,N393HA,JFK,HNL,644.0,4983,9,30,2013-12-30 09:00:00,Hawaiian Airlines Inc.,8017.647
211295,2013,5,20,1002.0,1000,2.0,1503.0,1500,3.0,HA,...,N384HA,JFK,HNL,637.0,4983,10,0,2013-05-20 10:00:00,Hawaiian Airlines Inc.,8017.647
180546,2013,4,17,959.0,1000,-1.0,1440.0,1510,-30.0,HA,...,N386HA,JFK,HNL,621.0,4983,10,0,2013-04-17 10:00:00,Hawaiian Airlines Inc.,8017.647
120050,2013,2,11,857.0,900,-3.0,1430.0,1540,-70.0,HA,...,N389HA,JFK,HNL,601.0,4983,9,0,2013-02-11 09:00:00,Hawaiian Airlines Inc.,8017.647

Wyświetl loty trwające od 1 do 2 godzin

In [20]:
######################################################################################

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name,dinstance_km
id,,,,,,,,,,,,,,,,,,,,,
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,...,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,Delta Air Lines Inc.,1226.058
21,2013,1,1,602.0,605,-3.0,821.0,805,16.0,MQ,...,N730MQ,LGA,DTW,105.0,502,6,5,2013-01-01 06:00:00,Envoy Air,807.718
40,2013,1,1,629.0,630,-1.0,824.0,833,-9.0,US,...,N426US,EWR,CLT,91.0,529,6,30,2013-01-01 06:00:00,US Airways Inc.,851.161
46,2013,1,1,643.0,645,-2.0,837.0,848,-11.0,US,...,N178US,EWR,CLT,91.0,529,6,45,2013-01-01 06:00:00,US Airways Inc.,851.161
48,2013,1,1,645.0,647,-2.0,815.0,810,5.0,B6,...,N796JB,JFK,BUF,63.0,301,6,47,2013-01-01 06:00:00,JetBlue Airways,484.309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336741,2013,9,30,2116.0,2124,-8.0,2317.0,2337,-20.0,EV,...,N14542,EWR,SDF,94.0,642,21,24,2013-09-30 21:00:00,ExpressJet Airlines Inc.,1032.978
336743,2013,9,30,2119.0,2120,-1.0,2330.0,2354,-24.0,B6,...,N358JB,JFK,JAX,113.0,828,21,20,2013-09-30 21:00:00,JetBlue Airways,1332.252
336747,2013,9,30,2127.0,2129,-2.0,2314.0,2323,-9.0,EV,...,N16546,EWR,CLT,72.0,529,21,29,2013-09-30 21:00:00,ExpressJet Airlines Inc.,851.161
336758,2013,9,30,2203.0,2205,-2.0,2339.0,2331,8.0,EV,...,N722EV,LGA,BGR,61.0,378,22,5,2013-09-30 22:00:00,ExpressJet Airlines Inc.,608.202
336759,2013,9,30,2207.0,2140,27.0,2257.0,2250,7.0,MQ,...,N532MQ,LGA,BNA,97.0,764,21,40,2013-09-30 21:00:00,Envoy Air,1229.276

Wyświetl do jakich lotnisk były wykonywane loty z lotniska LGA

In [27]:
######################################################################################

array(['IAH', 'ATL', 'IAD', 'ORD', 'DFW', 'FLL', 'MSP', 'DTW', 'MIA',
       'BWI', 'MCO', 'DEN', 'PBI', 'XNA', 'MKE', 'RSW', 'TPA', 'CLT',
       'CMH', 'CLE', 'STL', 'RDU', 'BNA', 'PHL', 'MDW', 'SRQ', 'DCA',
       'CAK', 'MSY', 'BOS', 'MEM', 'BUF', 'PIT', 'MCI', 'CRW', 'CVG',
       'RIC', 'ROC', 'TYS', 'BHM', 'PWM', 'GRR', 'EYW', 'GSO', 'HOU',
       'JAX', 'BTV', 'CHS', 'SAV', 'SDF', 'IND', 'DAY', 'BGR', 'MSN',
       'ORF', 'OMA', 'DSM', 'GSP', 'ILM', 'SYR', 'SBN', 'LEX', 'MHT',
       'CAE', 'CHO', 'AVL', 'TVC', 'MYR'], dtype=object)

Wyświetl 5 lotów z największymi opóźnieniami odlotu

In [29]:
######################################################################################

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name,dinstance_km
id,,,,,,,,,,,,,,,,,,,,,
7072,2013,1,9,641.0,900,1301.0,1242.0,1530,1272.0,HA,...,N384HA,JFK,HNL,640.0,4983,9,0,2013-01-09 09:00:00,Hawaiian Airlines Inc.,8017.647
235778,2013,6,15,1432.0,1935,1137.0,1607.0,2120,1127.0,MQ,...,N504MQ,JFK,CMH,74.0,483,19,35,2013-06-15 19:00:00,Envoy Air,777.147
8239,2013,1,10,1121.0,1635,1126.0,1239.0,1810,1109.0,MQ,...,N517MQ,EWR,ORD,111.0,719,16,35,2013-01-10 16:00:00,Envoy Air,1156.871
327043,2013,9,20,1139.0,1845,1014.0,1457.0,2210,1007.0,AA,...,N338AA,JFK,SFO,354.0,2586,18,45,2013-09-20 18:00:00,American Airlines Inc.,4160.874
270376,2013,7,22,845.0,1600,1005.0,1044.0,1815,989.0,MQ,...,N665MQ,JFK,CVG,96.0,589,16,0,2013-07-22 16:00:00,Envoy Air,947.701

Wyświetl loty których odlot był opóźniony przynajmniej 30 minut ale wylądowały przed czasem

In [32]:
######################################################################################

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name,dinstance_km
id,,,,,,,,,,,,,,,,,,,,,
234,2013,1,1,1025.0,951,34.0,1258.0,1302,-4.0,UA,...,N437UA,EWR,MCO,137.0,937,9,51,2013-01-01 09:00:00,United Air Lines Inc.,1507.633
952,2013,1,2,727.0,645,42.0,1024.0,1028,-4.0,UA,...,N820UA,EWR,SNA,338.0,2434,6,45,2013-01-02 06:00:00,United Air Lines Inc.,3916.306
1723,2013,1,2,2053.0,2022,31.0,2331.0,2356,-25.0,UA,...,N539UA,EWR,SFO,316.0,2565,20,22,2013-01-02 20:00:00,United Air Lines Inc.,4127.085
2371,2013,1,3,1628.0,1550,38.0,1922.0,1925,-3.0,DL,...,N675DL,JFK,SLC,266.0,1990,15,50,2013-01-03 15:00:00,Delta Air Lines Inc.,3201.910
2669,2013,1,3,2152.0,2120,32.0,2346.0,2351,-5.0,B6,...,N524JB,JFK,DEN,212.0,1626,21,20,2013-01-03 21:00:00,JetBlue Airways,2616.234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334827,2013,9,28,1946.0,1905,41.0,2119.0,2131,-12.0,9E,...,N915XJ,JFK,MSY,137.0,1182,19,5,2013-09-28 19:00:00,Endeavor Air Inc.,1901.838
334829,2013,9,28,2003.0,1930,33.0,2122.0,2123,-1.0,9E,...,N929XJ,JFK,RDU,64.0,427,19,30,2013-09-28 19:00:00,Endeavor Air Inc.,687.043
334845,2013,9,28,2041.0,2005,36.0,2247.0,2300,-13.0,UA,...,N36272,EWR,IAH,166.0,1400,20,5,2013-09-28 20:00:00,United Air Lines Inc.,2252.600
336662,2013,9,30,1940.0,1900,40.0,2228.0,2232,-4.0,DL,...,N723TW,JFK,SFO,323.0,2586,19,0,2013-09-30 19:00:00,Delta Air Lines Inc.,4160.874
336682,2013,9,30,2005.0,1930,35.0,2118.0,2125,-7.0,9E,...,N926XJ,JFK,RDU,58.0,427,19,30,2013-09-30 19:00:00,Endeavor Air Inc.,687.043

Wyświetl ilość opóźnień odlotów wg. lini lotniczej

In [34]:
######################################################################################

name
AirTran Airways Corporation     1647
Alaska Airlines Inc.             225
American Airlines Inc.         10105
Delta Air Lines Inc.           15186
Endeavor Air Inc.               6980
Envoy Air                       7966
ExpressJet Airlines Inc.       22976
Frontier Airlines Inc.           340
Hawaiian Airlines Inc.            69
JetBlue Airways                21372
Mesa Airlines Inc.               232
SkyWest Airlines Inc.              9
Southwest Airlines Co.          6535
US Airways Inc.                 4762
United Air Lines Inc.          27125
Virgin America                  2216
dtype: int64

Wyświetl średnie opóźnienie odlotu wg. lini lotniczej

In [37]:
######################################################################################

name
AirTran Airways Corporation    18.605984
Alaska Airlines Inc.            5.830748
American Airlines Inc.          8.569130
Delta Air Lines Inc.            9.223950
Endeavor Air Inc.              16.439574
Envoy Air                      10.445381
ExpressJet Airlines Inc.       19.838929
Frontier Airlines Inc.         20.201175
Hawaiian Airlines Inc.          4.900585
JetBlue Airways                12.967548
Mesa Airlines Inc.             18.898897
SkyWest Airlines Inc.          12.586207
Southwest Airlines Co.         17.661657
US Airways Inc.                 3.744693
United Air Lines Inc.          12.016908
Virgin America                 12.756646
Name: dep_delay, dtype: float64

Wyświetl 5 tras (origin, dest) na których występuje najwięcej opóźnień przylotów

In [41]:
######################################################################################

origin  dest
LGA     ATL     4875
JFK     LAX     3936
        SFO     2979
LGA     ORD     2796
        CLT     2524
dtype: int64

Wyświetl daty w których stosunek opóźnionych przylotów w danym dniu do liczby wszystkich lotów jest większa od 80%

In [53]:
######################################################################################

month  day
12     17     0.934132
3      8      0.895990
12     10     0.870095
6      13     0.842225
12     9      0.827778
       14     0.811052
dtype: float64