In [29]:
import pandas as pd

In [30]:
import numpy as np

In [31]:
df = pd.DataFrame({'A': [1, 2, np.nan], 'B': [np.nan, 5, np.nan], 'C': [7, 8, 9]})
df

     A    B  C
0  1.0  NaN  7
1  2.0  5.0  8
2  NaN  NaN  9

In [32]:
df.isna() # sprawdza czy jest pusta wartosc Nan

       A      B      C
0  False   True  False
1  False  False  False
2   True   True  False

In [33]:
df.isna().sum() #sumowanie warto≈õci pustych

A    1
B    2
C    0
dtype: int64

In [35]:
df.dropna()

     A    B  C
1  2.0  5.0  8

In [37]:
df.dropna(thresh=2)

     A    B  C
0  1.0  NaN  7
1  2.0  5.0  8

In [38]:
df.dropna(axis=1)

   C
0  7
1  8
2  9

In [39]:
df.fillna(('New_value')) # tam gdzie braki to nowa wartosc

           A          B  C
0        1.0  New_value  7
1        2.0        5.0  8
2  New_value  New_value  9