In [1]:
import pandas as pd
import numpy as np

In [2]:
df_house = pd.read_csv('../../Pliki/02_pandas/house_price.csv')
df_house.head()

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
0,Kawalerka na sprzedaż,240000.0,8888.89,Private,1.0,27.00,1,Housing Block,primary,Bolesławiec,Lower Silesia,January,2022,39603,15.565105,51.263033
1,Nowoczesna kawalerka z winda plus garaż podziemny,250000.0,7142.86,Private,1.0,35.00,1,Housing Block,primary,Jelcz-Laskowice,Lower Silesia,January,2022,15828,17.349964,51.039831
2,Nowa kawalerka z Balkonem/Legnicka/Magnolia,259000.0,10360.00,Estate Agency,2.0,25.00,1,Housing Block,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978
3,Kawalerka z balkonem/klucze I kwartał 2022/60 ...,269000.0,10275.02,Private,3.0,26.18,1,Apartment Building,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978
4,40 tys. taniej od dewelopera/Kawalerka/Magnoli...,258000.0,9923.08,Estate Agency,3.0,26.00,1,Housing Block,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978

In [3]:
df_house.info()  #info o typach kolumn: Non-Null oznacza ile weirszy jest pustych; object to string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62731 entries, 0 to 62730
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   offer_title             62731 non-null  object
 1   price                   62731 non-null  float64
 2   price_per_meter         62731 non-null  float64
 3   offer_type              62731 non-null  object
 4   floor                   61246 non-null  float64
 5   area                    61246 non-null  float64
 6   rooms                   62731 non-null  int64
 7   offer_type_of_building  61246 non-null  object
 8   market                  62731 non-null  object
 9   city_name               62731 non-null  object
 10  voivodeship             62731 non-null  object
 11  month                   62731 non-null  object
 12  year                    62731 non-null  int64
 13  population              62731 non-null  int64
 14  longitude               62731 non-null  float64
 15  latitude                62731 non-null  float64
dtypes: float64(6), int64(3), object(7)
memory usage: 7.7+ MB

In [4]:
df_house.isna().sum()  # sumowanie brakujacych wierszy

offer_title                  0
price                        0
price_per_meter              0
offer_type                   0
floor                     1485
area                      1485
rooms                        0
offer_type_of_building    1485
market                       0
city_name                    0
voivodeship                  0
month                        0
year                         0
population                   0
longitude                    0
latitude                     0
dtype: int64

In [5]:
df_house = df_house.dropna()  #usuniecie nie potrzebnych zerowych wartosci

In [6]:
df_house

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
0,Kawalerka na sprzedaż,240000.0,8888.89,Private,1.0,27.00,1,Housing Block,primary,Bolesławiec,Lower Silesia,January,2022,39603,15.565105,51.263033
1,Nowoczesna kawalerka z winda plus garaż podziemny,250000.0,7142.86,Private,1.0,35.00,1,Housing Block,primary,Jelcz-Laskowice,Lower Silesia,January,2022,15828,17.349964,51.039831
2,Nowa kawalerka z Balkonem/Legnicka/Magnolia,259000.0,10360.00,Estate Agency,2.0,25.00,1,Housing Block,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978
3,Kawalerka z balkonem/klucze I kwartał 2022/60 ...,269000.0,10275.02,Private,3.0,26.18,1,Apartment Building,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978
4,40 tys. taniej od dewelopera/Kawalerka/Magnoli...,258000.0,9923.08,Estate Agency,3.0,26.00,1,Housing Block,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62726,Mieszkanie 4-pokojowe 57m2 parter,230000.0,4035.09,Private,0.0,57.00,4,Housing Block,aftermarket,Złocieniec,West Pomerania,March,2022,13224,16.012066,53.531070
62727,Mieszkanie 4-pokojowe spółdz. własność. z umeb...,390000.0,5735.29,Private,1.0,68.00,4,Housing Block,aftermarket,Łobez,West Pomerania,March,2022,10438,15.621349,53.639119
62728,Mieszkanie z lokalem użytkowym,330000.0,2704.92,Private,1.0,122.00,4,Other,aftermarket,Świdwin,West Pomerania,March,2022,15725,15.777351,53.774704
62729,Mieszkanie 80m2 przy lesie,830000.0,10375.00,Private,1.0,80.00,4,Housing Block,aftermarket,Świnoujście,West Pomerania,March,2022,41371,14.251070,53.909748
62730,"Duże, komfortowe mieszkanie blisko Parku Zdroj...",990000.0,9437.56,Private,3.0,104.90,4,Housing Block,aftermarket,Świnoujście,West Pomerania,March,2022,41371,14.251070,53.909748

In [7]:
df_house.isna().sum()

offer_title               0
price                     0
price_per_meter           0
offer_type                0
floor                     0
area                      0
rooms                     0
offer_type_of_building    0
market                    0
city_name                 0
voivodeship               0
month                     0
year                      0
population                0
longitude                 0
latitude                  0
dtype: int64

In [8]:
pd.set_option('display.float_format', lambda
    x: '%5f' % x)  #kazda z wartosci z dokladnoscia do 5 miesjc po przecinku, wylaczenie notacji naukowej

In [9]:
df_house.describe()

,price,price_per_meter,floor,area,rooms,year,population,longitude,latitude
count,61246.000000,61246.000000,61246.000000,61246.000000,61246.000000,61246.000000,61246.000000,61246.000000,61246.000000
mean,398999.685439,7582.487659,2.399030,91.299661,2.512327,2022.000000,314611.131502,19.156589,51.822034
std,2048308.341988,36871.279279,2.148906,3155.851008,0.824062,0.000000,453265.910523,2.139119,1.324257
min,1.000000,0.020000,-1.000000,1.000000,1.000000,2022.000000,1328.000000,14.251070,49.296945
25%,260000.000000,5257.830000,1.000000,42.000000,2.000000,2022.000000,33967.000000,17.561497,50.687112
50%,345000.000000,6587.865000,2.000000,51.170000,2.000000,2022.000000,103997.000000,19.272156,51.768732
75%,460000.000000,8775.510000,3.000000,63.000000,3.000000,2022.000000,402465.000000,20.930831,52.848462
max,504151616.000000,9002707.430000,11.000000,399000.000000,4.000000,2022.000000,1744351.000000,23.887382,54.790132

In [10]:
df_house.describe(include='object')  # wszystkie te ktore sa stringiem

,offer_title,offer_type,offer_type_of_building,market,city_name,voivodeship,month
count,61246,61246,61246,61246,61246,61246,61246
unique,28489,2,5,2,609,16,3
top,Sprzedam mieszkanie,Private,Housing Block,aftermarket,Warszawa,Masovia,March
freq,1815,44476,43800,53944,4157,9042,21357

In [11]:
df_house.sort_values('area')  #filtrowanie odstawjacych wartosci

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
51970,Leśniczówka - nowe mieszkania na sprzedaż,5800.000000,5800.000000,Estate Agency,3.000000,1.000000,1,Housing Block,primary,Świdwin,West Pomerania,March,2022,15725,15.777351,53.774704
9281,Leśniczówka - nowe mieszkania na sprzedaż,5500.000000,5500.000000,Estate Agency,3.000000,1.000000,1,Housing Block,primary,Świdwin,West Pomerania,January,2022,15725,15.777351,53.774704
30052,Park Chopina | 34-62 m2 | 1-3 pokoje | taras-b...,6200.000000,6200.000000,Estate Agency,3.000000,1.000000,1,Housing Block,primary,Tomaszów Mazowiecki,Lodzkie,February,2022,64893,20.008419,51.531692
45585,Mieszkania na parterze,285000.000000,285000.000000,Estate Agency,0.000000,1.000000,2,Housing Block,aftermarket,Sanok,Subcarpathia,March,2022,39027,22.207028,49.560905
56266,"M-3 z loggią, 50,53 m2, pierwsze piętro, os. S...",265000.000000,265000.000000,Estate Agency,1.000000,1.000000,2,Housing Block,aftermarket,Żyrardów,Masovia,March,2022,41096,20.443501,52.054331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27663,Mieszkanie 52m2 parter. Północ.,320000.000000,1.000000,Private,0.000000,320000.000000,3,Housing Block,aftermarket,Suwałki,Podlaskie,February,2022,69317,22.927936,54.099064
38482,Mieszkanie 52m2 parter. Północ.,320000.000000,1.000000,Private,0.000000,320000.000000,3,Housing Block,aftermarket,Suwałki,Podlaskie,February,2022,69317,22.927936,54.099064
19465,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.000000,1.000000,Estate Agency,2.000000,342020.000000,1,Apartment Building,primary,Wrocław,Lower Silesia,February,2022,634487,17.032669,51.108978
9169,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.000000,1.000000,Estate Agency,2.000000,342020.000000,1,Apartment Building,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978
61548,SPRZEDAM mieszkanie 58m2 + piwnica 11m2. Zamkn...,399000.000000,1.000000,Private,2.000000,399000.000000,3,Housing Block,aftermarket,Nowogard,West Pomerania,March,2022,16937,15.122589,53.668770

In [12]:
df_house.sort_values('area', ascending=False)

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
61548,SPRZEDAM mieszkanie 58m2 + piwnica 11m2. Zamkn...,399000.000000,1.000000,Private,2.000000,399000.000000,3,Housing Block,aftermarket,Nowogard,West Pomerania,March,2022,16937,15.122589,53.668770
9169,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.000000,1.000000,Estate Agency,2.000000,342020.000000,1,Apartment Building,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978
19465,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.000000,1.000000,Estate Agency,2.000000,342020.000000,1,Apartment Building,primary,Wrocław,Lower Silesia,February,2022,634487,17.032669,51.108978
27663,Mieszkanie 52m2 parter. Północ.,320000.000000,1.000000,Private,0.000000,320000.000000,3,Housing Block,aftermarket,Suwałki,Podlaskie,February,2022,69317,22.927936,54.099064
38482,Mieszkanie 52m2 parter. Północ.,320000.000000,1.000000,Private,0.000000,320000.000000,3,Housing Block,aftermarket,Suwałki,Podlaskie,February,2022,69317,22.927936,54.099064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34405,"M- 3 z loggią 50.53 m2, 1 piętro, oś. Spółdzie...",285000.000000,285000.000000,Estate Agency,1.000000,1.000000,2,Housing Block,aftermarket,Żyrardów,Masovia,February,2022,41096,20.443501,52.054331
34608,Mieszkania na parterze,285000.000000,285000.000000,Estate Agency,0.000000,1.000000,2,Housing Block,aftermarket,Sanok,Subcarpathia,February,2022,39027,22.207028,49.560905
38238,"M-4 z balkonem 63 m2, drugie piętro w Housing...",389000.000000,389000.000000,Estate Agency,2.000000,1.000000,3,Housing Block,aftermarket,Żyrardów,Masovia,February,2022,41096,20.443501,52.054331
10931,"M-2 z balkonem 32,50 m2, parter os. Spółdzielcza.",229000.000000,229000.000000,Estate Agency,0.000000,1.000000,1,Housing Block,aftermarket,Żyrardów,Masovia,January,2022,41096,20.443501,52.054331
9281,Leśniczówka - nowe mieszkania na sprzedaż,5500.000000,5500.000000,Estate Agency,3.000000,1.000000,1,Housing Block,primary,Świdwin,West Pomerania,January,2022,15725,15.777351,53.774704

In [13]:
df_house = df_house[(df_house['area'] > 10) & (df_house['area'] < 300)]

In [14]:
df_house.describe()

,price,price_per_meter,floor,area,rooms,year,population,longitude,latitude
count,61080.000000,61080.000000,61080.000000,61080.000000,61080.000000,61080.000000,61080.000000,61080.000000,61080.000000
mean,397999.376660,7479.307711,2.400327,54.618497,2.512083,2022.000000,314751.938621,19.157048,51.822036
std,2049915.483421,36539.474692,2.149800,19.999295,0.822945,0.000000,453117.737541,2.138816,1.323649
min,1.000000,0.020000,-1.000000,11.000000,1.000000,2022.000000,1328.000000,14.251070,49.296945
25%,260000.000000,5264.170000,1.000000,42.000000,2.000000,2022.000000,33967.000000,17.565228,50.687112
50%,345000.000000,6593.835000,2.000000,51.100000,2.000000,2022.000000,103997.000000,19.272156,51.768732
75%,460000.000000,8775.510000,3.000000,63.000000,3.000000,2022.000000,402465.000000,20.930831,52.847390
max,504151616.000000,9002707.430000,11.000000,298.350000,4.000000,2022.000000,1744351.000000,23.887382,54.790132

In [15]:
df_house.sort_values('price_per_meter')

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
30315,Mieszkanie Warka 45 m2 Odstąpię rezerwację,1.000000,0.020000,Private,3.000000,45.000000,2,Apartment Building,primary,Warka,Masovia,February,2022,11727,21.183384,51.785097
40287,Sprzedm tanio... bez pośredników...,4.000000,0.060000,Private,2.000000,62.000000,4,Housing Block,aftermarket,Siedlce,Masovia,February,2022,77102,22.276514,52.166375
40379,OKAZJA. Tylko 246 tys. zł. Nieruchomość na mie...,246.000000,1.760000,Estate Agency,0.000000,140.000000,4,Other,aftermarket,Kędzierzyn-Koźle,Opole,February,2022,63194,18.210959,50.344884
404,Dam odstępne za mieszkanie!,100.000000,2.000000,Private,1.000000,50.000000,2,Housing Block,primary,Zabrze,Silesia,January,2022,178357,18.786375,50.308615
2054,Zamiana Mieszkania,123.000000,2.730000,Private,2.000000,45.000000,2,Housing Block,aftermarket,Lądek-Zdrój,Lower Silesia,January,2022,5917,16.872595,50.345825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51502,"Komfortowy,wyjątkowy apart.108m2,wyposażony,ul...",4500000.000000,41666.670000,Estate Agency,4.000000,108.000000,4,Apartment Building,aftermarket,Gdańsk,Pomerania,March,2022,461935,18.654023,54.348291
35588,Mieszkanie do sprzedaży,2800000.000000,53742.800000,Private,2.000000,52.100000,2,Tenement,aftermarket,Biskupiec,Warmia-Masuria,February,2022,10626,20.955180,53.868800
29663,4 pokojowe mieszkanie w slupsku,4440000.000000,60000.000000,Private,4.000000,74.000000,4,Housing Block,aftermarket,Słupsk,Pomerania,February,2022,93936,17.028073,54.464933
52100,Sprzedam mieszkanie -cesja,6580000.000000,149545.450000,Private,1.000000,44.000000,2,Housing Block,primary,Kraków,Lesser Poland,March,2022,762508,19.936856,50.061947
36199,Okazja Pogodno 56 mkw z ogródkiem tylko u nas,504151616.000000,9002707.430000,Estate Agency,1.000000,56.000000,2,Housing Block,aftermarket,Szczecin,West Pomerania,February,2022,402465,14.550962,53.430182

In [16]:
df_house.sort_values('price_per_meter', ascending=False)

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
36199,Okazja Pogodno 56 mkw z ogródkiem tylko u nas,504151616.000000,9002707.430000,Estate Agency,1.000000,56.000000,2,Housing Block,aftermarket,Szczecin,West Pomerania,February,2022,402465,14.550962,53.430182
52100,Sprzedam mieszkanie -cesja,6580000.000000,149545.450000,Private,1.000000,44.000000,2,Housing Block,primary,Kraków,Lesser Poland,March,2022,762508,19.936856,50.061947
29663,4 pokojowe mieszkanie w slupsku,4440000.000000,60000.000000,Private,4.000000,74.000000,4,Housing Block,aftermarket,Słupsk,Pomerania,February,2022,93936,17.028073,54.464933
35588,Mieszkanie do sprzedaży,2800000.000000,53742.800000,Private,2.000000,52.100000,2,Tenement,aftermarket,Biskupiec,Warmia-Masuria,February,2022,10626,20.955180,53.868800
51502,"Komfortowy,wyjątkowy apart.108m2,wyposażony,ul...",4500000.000000,41666.670000,Estate Agency,4.000000,108.000000,4,Apartment Building,aftermarket,Gdańsk,Pomerania,March,2022,461935,18.654023,54.348291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,Zamiana Mieszkania,123.000000,2.730000,Private,2.000000,45.000000,2,Housing Block,aftermarket,Lądek-Zdrój,Lower Silesia,January,2022,5917,16.872595,50.345825
404,Dam odstępne za mieszkanie!,100.000000,2.000000,Private,1.000000,50.000000,2,Housing Block,primary,Zabrze,Silesia,January,2022,178357,18.786375,50.308615
40379,OKAZJA. Tylko 246 tys. zł. Nieruchomość na mie...,246.000000,1.760000,Estate Agency,0.000000,140.000000,4,Other,aftermarket,Kędzierzyn-Koźle,Opole,February,2022,63194,18.210959,50.344884
40287,Sprzedm tanio... bez pośredników...,4.000000,0.060000,Private,2.000000,62.000000,4,Housing Block,aftermarket,Siedlce,Masovia,February,2022,77102,22.276514,52.166375
30315,Mieszkanie Warka 45 m2 Odstąpię rezerwację,1.000000,0.020000,Private,3.000000,45.000000,2,Apartment Building,primary,Warka,Masovia,February,2022,11727,21.183384,51.785097

In [17]:
df_house = df_house[(df_house['price_per_meter'] >= 500) & (df_house['price_per_meter'] <= 60000)]

In [18]:
df_house.describe()

,price,price_per_meter,floor,area,rooms,year,population,longitude,latitude
count,60949.000000,60949.000000,60949.000000,60949.000000,60949.000000,60949.000000,60949.000000,60949.000000,60949.000000
mean,390451.656523,7344.831985,2.401795,54.611485,2.512248,2022.000000,314715.032929,19.157651,51.821801
std,215658.612943,3154.063691,2.150440,19.970497,0.823062,0.000000,453214.246585,2.138789,1.324088
min,9500.000000,500.000000,-1.000000,11.000000,1.000000,2022.000000,1328.000000,14.251070,49.296945
25%,261000.000000,5277.640000,1.000000,42.000000,2.000000,2022.000000,33967.000000,17.561497,50.679307
50%,345000.000000,6600.000000,2.000000,51.100000,2.000000,2022.000000,103997.000000,19.272156,51.768732
75%,460000.000000,8781.560000,3.000000,63.000000,3.000000,2022.000000,402465.000000,20.930831,52.847390
max,5400000.000000,60000.000000,11.000000,298.350000,4.000000,2022.000000,1744351.000000,23.887382,54.790132

In [19]:
df_house.sort_values('price')

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
42436,Mieszkanie w kamienicy Privatej,9500.000000,527.780000,Estate Agency,2.000000,18.000000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.456991,51.768732
42447,Kawalerka za odstępne CENA OSTATECZA,10000.000000,500.000000,Estate Agency,2.000000,20.000000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.456991,51.768732
42437,Mieszkanie w kamienicy Privatej,11000.000000,733.330000,Estate Agency,2.000000,15.000000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.456991,51.768732
1362,Mieszkanie w kamienicy Privatej,12500.000000,833.330000,Estate Agency,2.000000,15.000000,1,Tenement,aftermarket,Łódź,Lodzkie,January,2022,711332,19.456991,51.768732
1363,Mieszkanie w kamienicy Privatej,12500.000000,694.440000,Estate Agency,2.000000,18.000000,1,Tenement,aftermarket,Łódź,Lodzkie,January,2022,711332,19.456991,51.768732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40176,ANGEL WAWEL ul.Sukiennicza - apartament dla Ko...,3999000.000000,25634.620000,Estate Agency,4.000000,156.000000,4,Apartment Building,aftermarket,Kraków,Lesser Poland,February,2022,762508,19.936856,50.061947
29663,4 pokojowe mieszkanie w slupsku,4440000.000000,60000.000000,Private,4.000000,74.000000,4,Housing Block,aftermarket,Słupsk,Pomerania,February,2022,93936,17.028073,54.464933
51502,"Komfortowy,wyjątkowy apart.108m2,wyposażony,ul...",4500000.000000,41666.670000,Estate Agency,4.000000,108.000000,4,Apartment Building,aftermarket,Gdańsk,Pomerania,March,2022,461935,18.654023,54.348291
40474,"Komfortowy,wyjątkowy apart.108m2,wyposażony,ul...",4500000.000000,41666.670000,Estate Agency,4.000000,108.000000,4,Apartment Building,aftermarket,Gdańsk,Pomerania,February,2022,461935,18.654023,54.348291
62050,Kraków apartament w centrum ulica Sarego,5400000.000000,20000.000000,Private,2.000000,270.000000,4,Tenement,aftermarket,Kraków,Lesser Poland,March,2022,762508,19.936856,50.061947

In [20]:
df_house = df_house[df_house['price'] > 100000]

In [21]:
df_house.describe()

,price,price_per_meter,floor,area,rooms,year,population,longitude,latitude
count,60284.000000,60284.000000,60284.000000,60284.000000,60284.000000,60284.000000,60284.000000,60284.000000,60284.000000
mean,393944.255336,7399.996408,2.410673,54.793562,2.521432,2022.000000,315947.828694,19.162899,51.823947
std,214235.198768,3123.650505,2.149366,19.899226,0.818816,0.000000,454553.721331,2.140359,1.324105
min,100500.000000,754.720000,-1.000000,11.000000,1.000000,2022.000000,1328.000000,14.251070,49.296945
25%,265000.000000,5316.670000,1.000000,42.257500,2.000000,2022.000000,34120.000000,17.565228,50.687112
50%,349000.000000,6627.910000,2.000000,51.425000,2.000000,2022.000000,103997.000000,19.272156,51.768732
75%,463080.000000,8819.165000,3.000000,63.000000,3.000000,2022.000000,402465.000000,20.930831,52.848462
max,5400000.000000,60000.000000,11.000000,298.350000,4.000000,2022.000000,1744351.000000,23.887382,54.790132

In [22]:
df_house.head()

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
0,Kawalerka na sprzedaż,240000.000000,8888.890000,Private,1.000000,27.000000,1,Housing Block,primary,Bolesławiec,Lower Silesia,January,2022,39603,15.565105,51.263033
1,Nowoczesna kawalerka z winda plus garaż podziemny,250000.000000,7142.860000,Private,1.000000,35.000000,1,Housing Block,primary,Jelcz-Laskowice,Lower Silesia,January,2022,15828,17.349964,51.039831
2,Nowa kawalerka z Balkonem/Legnicka/Magnolia,259000.000000,10360.000000,Estate Agency,2.000000,25.000000,1,Housing Block,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978
3,Kawalerka z balkonem/klucze I kwartał 2022/60 ...,269000.000000,10275.020000,Private,3.000000,26.180000,1,Apartment Building,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978
4,40 tys. taniej od dewelopera/Kawalerka/Magnoli...,258000.000000,9923.080000,Estate Agency,3.000000,26.000000,1,Housing Block,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978

### Eksploracja

In [23]:
df_house['offer_type'].value_counts() # zliczanie po ofertach

offer_type
Private          43871
Estate Agency    16413
Name: count, dtype: int64

In [24]:
df_house['offer_type_of_building'].value_counts()

offer_type_of_building
Housing Block         43432
Tenement               8270
Apartment Building     6316
Other                  2166
Loft                    100
Name: count, dtype: int64

In [25]:
df_house['market'].value_counts()

market
aftermarket    53107
primary         7177
Name: count, dtype: int64

In [26]:
df_house['voivodeship'].value_counts()

voivodeship
Masovia              8967
Silesia              7338
Lower Silesia        5545
Lodzkie              5506
Lesser Poland        4817
Greater Poland       4353
West Pomerania       3666
Lublin               3322
Pomerania            3112
Kuyavia-Pomerania    3062
Warmia-Masuria       2895
Subcarpathia         1688
Świętokrzyskie       1569
Podlaskie            1509
Opole                1468
Lubusz               1467
Name: count, dtype: int64

In [27]:
df_house['price_per_meter'].value_counts()

price_per_meter
5000.000000     483
6000.000000     307
10000.000000    266
7000.000000     247
7500.000000     237
               ...
8960.180000       1
9190.710000       1
9249.270000       1
9795.920000       1
4221.460000       1
Name: count, Length: 19000, dtype: int64

In [28]:
df_house[df_house['area'] < 20].size #rozmiar

4288

In [29]:
df_house[(df_house['city_name'] == 'Łódź') & (df_house['area'] > 10) & (df_house['area'] < 25)]

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
28,"ROI 7,2% - piękna kawalerka ul Słowiańska - i...",159000.000000,9937.500000,Estate Agency,2.000000,16.000000,1,Tenement,primary,Łódź,Lodzkie,January,2022,711332,19.456991,51.768732
1330,Bezpośrednio od właściciela Apartament 24m2 Łó...,289000.000000,12041.670000,Estate Agency,0.000000,24.000000,1,Apartment Building,aftermarket,Łódź,Lodzkie,January,2022,711332,19.456991,51.768732
1331,Mieszkanie 1-pokojowe w rewitalizowanej Kamienicy,195000.000000,9276.880000,Estate Agency,2.000000,21.020000,1,Tenement,aftermarket,Łódź,Lodzkie,January,2022,711332,19.456991,51.768732
1333,kawalerka z C.O. w zrewitalizowanej kamienicy ...,170000.000000,10585.310000,Private,2.000000,16.060000,1,Tenement,aftermarket,Łódź,Lodzkie,January,2022,711332,19.456991,51.768732
1335,RENTAROOM.PL KAWALERKI INWESTYCYJNE super loka...,159000.000000,7950.000000,Estate Agency,4.000000,20.000000,1,Housing Block,aftermarket,Łódź,Lodzkie,January,2022,711332,19.456991,51.768732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53454,Kawalerka po remoncie niedaleko centrum,150000.000000,6521.740000,Private,1.000000,23.000000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.456991,51.768732
53455,Kawalerka 20 m2 bezczynszowa z miejscem parkin...,105000.000000,5250.000000,Private,1.000000,20.000000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.456991,51.768732
53457,"Kawalerka 23 M2, sprzedam lub zamienię, pełna ...",120000.000000,5217.390000,Private,2.000000,23.000000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.456991,51.768732
55329,Dwupokojowe mieszkanie 10 min od Manufaktury i...,199000.000000,8291.670000,Private,1.000000,24.000000,2,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.456991,51.768732
59196,"RENTAROOM.PL KAWALERKI INWESTYCYJNE wynajęte,p...",149000.000000,8277.780000,Estate Agency,3.000000,18.000000,3,Housing Block,aftermarket,Łódź,Lodzkie,March,2022,711332,19.456991,51.768732

In [30]:
df_house[(df_house['city_name'] == 'Łódź') & (df_house['area'] > 10) & (df_house['area'] < 25)]['rooms'].value_counts()

rooms
1    117
3      4
2      1
Name: count, dtype: int64

In [31]:
df_house.groupby('voivodeship')['price_per_meter'].mean().sort_values(ascending=False) #grupowanie po wojew biorac price usrednienie i sortowanie malejace

voivodeship
Lesser Poland       10135.952929
Masovia              9808.708781
Pomerania            8588.348493
Lower Silesia        7452.596601
West Pomerania       7441.510603
Podlaskie            7387.802247
Lublin               7025.416162
Greater Poland       6587.782601
Lodzkie              6584.301922
Subcarpathia         6332.433945
Kuyavia-Pomerania    6293.707071
Warmia-Masuria       6176.245900
Świętokrzyskie       5903.865041
Silesia              5727.584846
Lubusz               5385.675085
Opole                5135.934114
Name: price_per_meter, dtype: float64

In [32]:
df_house.groupby('city_name')['price_per_meter'].mean().sort_values(ascending=False)

city_name
Zakopane           19346.825882
Międzyzdroje       15190.517187
Szklarska Poręba   15015.033750
Sopot              14822.978734
Szczyrk            14614.364737
                       ...
Ziębice             2539.542308
Korfantów           2469.140000
Przedbórz           2325.580000
Otmuchów            2192.904000
Małomice            1529.914000
Name: price_per_meter, Length: 602, dtype: float64

In [34]:
df_house.groupby(['voivodeship','market'])['price_per_meter'].mean()

voivodeship        market
Greater Poland     aftermarket    6655.275512
                   primary        6303.423246
Kuyavia-Pomerania  aftermarket    6255.999811
                   primary        6712.361976
Lesser Poland      aftermarket   10152.521190
                   primary       10022.538599
Lodzkie            aftermarket    6559.316748
                   primary        6796.503586
Lower Silesia      aftermarket    7402.620742
                   primary        7834.265810
Lublin             aftermarket    7047.316122
                   primary        6828.842643
Lubusz             aftermarket    5368.506356
                   primary        5613.035728
Masovia            aftermarket    9890.772004
                   primary        9177.728479
Opole              aftermarket    5089.379536
                   primary        5607.122879
Podlaskie          aftermarket    7350.901833
                   primary        7707.842372
Pomerania          aftermarket    8701.964774
                   primary        7896.557335
Silesia            aftermarket    5558.370836
                   primary        6883.549498
Subcarpathia       aftermarket    6295.235425
                   primary        6603.034951
Warmia-Masuria     aftermarket    6183.171264
                   primary        6101.003525
West Pomerania     aftermarket    7375.936454
                   primary        7959.419053
Świętokrzyskie     aftermarket    5790.210787
                   primary        6473.442682
Name: price_per_meter, dtype: float64